body {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #ffffff;
    background: #262626;
}

h1 {
    line-height: 0.7;
}

span {
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 17%;
    box-shadow: 5px 6px #888888;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.content {
    padding-left: 100px;
    padding-right: 100px;
}

.footer {
    padding-bottom: 3.7rem;
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

a:link {
    color: #938888;
}

a:visited {
    color: #938888;
}

.header {
    overflow: hidden;
    border-bottom: 2px solid rgb(28, 139, 208);
}

.header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    color: hsl(0, 0%, 95%);
    margin-bottom: 5px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: rgb(52, 151, 213);
}

.header a.child:hover {
    background-color: hsl(0, 0%, 78%);
    color: black;
}

.header a.active {
    background-color: rgb(28, 139, 208);
    color: hsl(0, 0%, 95%);
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.box {
    padding: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    background-color: rgb(64, 64, 64);
    margin-left: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}